@model List<EntityLayer.UserFavori>




<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-7">
        <div class="section-title">
            <h4><i class="fa fa-heart-o"></i>&nbsp;Favori Animelerim</h4>

        </div>

    </div>
   
</div>

@foreach (var item in Model)
{


    <div class="col-lg-2 col-md-6 col-sm-6 ">

        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="@item.Animelers.AnimeImg">
                        


            </div>
            <div class="product__item__text">
                <ul>
                    @await Component.InvokeAsync("_AnimelerKategori", new{animeID=item.FavAnimeID})

                    @if (item.Animelers.AnimeAdi.Length > 22)
                    {
                        <h5>
                            @Html.ActionLink(@item.Animelers.AnimeAdi.Substring(0,22), "Izle", "AnimeIzle",
                    new { AnimeID_Sezon=item.Animelers.AnimeID/*item.UserFavAnimeID*/})..

                        </h5>
                    }
                    else
                    {
                        <h5>
                            @Html.ActionLink(@item.Animelers.AnimeAdi, "Izle", "AnimeIzle",
                    new {AnimeID_Sezon=item.Animelers.AnimeID/*item.UserFavAnimeID*/})
                        </h5>
                    }
                </ul>

            </div>
        </div>

    </div>
}