@model EntityLayer.Animeler
@{
    ViewData["Title"] = "AnimeInfo";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content">
    
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">@Model.AnimeAdi</h3>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-9">
                <form method="post" >
                    <input type="hidden" value="@Model.AnimeID" asp-for="AnimeID" />
                    <div class="form-group" >
                        <label>Anime Adı</label>
                        <input type="text" class="form-control" asp-for="AnimeAdi" value="@Model.AnimeAdi">
                    </div>

                    <div class="form-group">
                        <label>Anime Detay</label>
                        <textarea class="form-control" rows="4" asp-for="AnimeDetay">@Model.AnimeDetay</textarea>
                    </div>

                    <div class="form-group">
                        <label>Anime Kısa Detay</label>
                        <textarea class="form-control" rows="3" asp-for="AnimeKisaDetay">@Model.AnimeKisaDetay</textarea>
                    </div>

                    <div class="form-group">
                        <label>Anime Uyarlama</label>
                        <input type="text" class="form-control" asp-for="AnimeUyarlamasi" value="@Model.AnimeUyarlamasi">
                    </div>

                    <div class="form-group">
                        <label>Anime IMDB</label>
                        <input type="text" class="form-control" asp-for="IMDb" value="@Model.IMDb">
                    </div>

                    <div class="form-group">
                        <label>Animenin Durumu</label>
                        <select asp-for="status" class="form-control" selected="@Model.status">
                            <option value="true">Aktif</option>
                            <option value="false">Pasif</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Anime Kapak Görseli <small>(Resmi Link Olarak Giriş Yapın!!)</small></label>
                        <input type="text" class="form-control" asp-for="AnimeImg" value="@Model.AnimeImg">
                    </div>

                    <div class="form-group">
                        <label>Anime Detay Görseli<small>(Resmi Link Olarak Giriş Yapın!!)</small></label>
                        <input type="text" class="form-control" asp-for="AnimeKapakImg" value="@Model.AnimeKapakImg">
                    </div>



                    <div class="form-group">
                        <label>Anime Çıkış Tarihi Tarih <small>(gg/aa/yyyy)</small></label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input asp-for="AnimeCikisTarihi" type="text" class="form-control pull-right" id="datepicker" value="@Model.AnimeCikisTarihi.ToString("dd-MM-yyyy")">
                        </div>
                        <!-- /.input group -->
                    </div>
                    <br />
                    <button class="btn btn-info" type="submit">Anime Güncelle</button>
                </form>
                </div>

                <div class="col-lg-3 bg-secondary">
                    <div class="product__item position-relative">
                        <img src="@Model.AnimeImg"  />
                          <div>
                           
                           
                       
                            <div class="product__item__text align-content-md-center ">
                                <ul class="float-left ml-1 list-group" style="margin-top:10px">
                                    <li class="list-group-item list-group-item-dark"><i class="fa fa-comments"></i> @Model.comments.Where(x=>x.CommentStatus==true).Count()</li>
                                    @foreach (var item in ViewBag.category)
                                    {
                                        <li class="list-group-item list-group-item-dark">@item</li>
                                    }
                             
                            </ul>
                        </div>
                    </div>

                    </div>
              
                    
                </div>
            </div>
        </div>
    </div>
</section>

