@model List<EntityLayer.Animeler>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/CustomerLayout/Index.cshtml";
}

<section class="blog spad">
    <section class="normal-breadcrumb set-bg " style="margin-top: -5%;  width: 100%;  z-index: 1;  position: absolute; "
             data-setbg="https://r.resimlink.com/4VTe2hdaq.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Yeni Sezonda Gelecek Animeler</h2>
                        <p>Takipte Kalın..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-top:25%; max-width: 95%;">

      

        <div class="row">
            @for (int i = 0; i <1; i++)
            {
            <div class="col-lg-6">
                <div class="row">
                   
                        <div class="col-lg-12">
                            <div class="blog__item set-bg" data-setbg="@Model[i].AnimeImg">
                                <div class="blog__item__text">
                                    <p><span class="icon_calendar"></span> @Model[i].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>                              
                                    <h4>@Html.ActionLink(@Model[i].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i].AnimeID})</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item small__item set-bg" data-setbg="@Model[i+1].AnimeImg">
                                <div class="blog__item__text">
                                    <p><span class="icon_calendar"></span> @Model[i+1].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>
                                    <h4>@Html.ActionLink(@Model[i+1].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i+1].AnimeID})</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item small__item set-bg" data-setbg="@Model[i+2].AnimeImg">
                                <div class="blog__item__text">
                                    <p><span class="icon_calendar"></span>@Model[i+2].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>
                                    <h4>@Html.ActionLink(@Model[i+2].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i+2].AnimeID})</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="blog__item set-bg" data-setbg="@Model[i+3].AnimeImg">
                                <div class="blog__item__text">
                                    <p><span class="icon_calendar"></span> @Model[i+3].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>
                                    <h4>@Html.ActionLink(@Model[i+3].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i+3].AnimeID})</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item small__item set-bg" data-setbg="@Model[i+4].AnimeImg">
                                <div class="blog__item__text">
                                    <p><span class="icon_calendar"></span> @Model[i+4].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>
                                    <h4>@Html.ActionLink(@Model[i+4].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i+4].AnimeID})</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item small__item set-bg" data-setbg="@Model[i+5].AnimeImg">
                                <div class="blog__item__text">
                                    <p><span class="icon_calendar"></span>@Model[i+5].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>
                                    <h4>@Html.ActionLink(@Model[i+5].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i+5].AnimeID})</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
                <div class="col-lg-6">
                    <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="@Model[i+6].AnimeImg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> @Model[i+6].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>
                                   <h4>@Html.ActionLink(@Model[i+6].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i+6].AnimeID})</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="@Model[i+7].AnimeImg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> @Model[i+7].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>
                                    <h4>@Html.ActionLink(@Model[i+7].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i+7].AnimeID})</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog__item set-bg" data-setbg="@Model[i+8].AnimeImg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> @Model[i+8].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>
                                  <h4>@Html.ActionLink(@Model[i+8].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i+8].AnimeID})</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="@Model[i+9].AnimeImg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> @Model[i+9].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>
                                    <h4>@Html.ActionLink(@Model[i+9].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i+9].AnimeID})</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="@Model[i+10].AnimeImg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> @Model[i+10].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>
                                    <h4>@Html.ActionLink(@Model[i+10].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i+10].AnimeID})</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog__item set-bg" data-setbg="@Model[i+11].AnimeImg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> @Model[i+11].AnimeCikisTarihi.ToString("dd MMMM yyyy")</p>
                                    <h4>@Html.ActionLink(@Model[i+11].AnimeAdi, "Izle", "AnimeIzle", new { AnimeID_Sezon=Model[i+11].AnimeID})</h4>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>


            }
        </div>
    </div>
</section>

