@model IPagedList<EntityLayer.Animeler>

@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/CustomerLayout/Index.cshtml";
}

<!-- Breadcrumb Begin -->
<!-- Breadcrumb End -->
<!-- Product Section Begin -->
<section class="product-page spad">

    <div class="breadcrumb-option mt-9">
        <div class="container">
            <div class="row  ">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/Home/Index/"><i class="fa fa-home"></i> Anasayfa</a>
                        <span>Kategoriler</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-center mt-4">



            <form method="post ">
                <div class="input-group mt-3 mb-3 col-md-10 d-flex justify-content-center">
                                                          
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="product__page__filter">
                            Sırala
                            <select>                              
                                <option value="">IDMb Puanına Göre</option>
                                <option value="">Alfabetik</option>
                                <option value="">Eklenme Tarihine Göre</option>
                            </select>
                        </div>
                    </div>

                    <input type="text"  />
                    <input type="text"  />

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="product__page__filter">
                            
                            <select size="8">
                                <option value="">Çıkış Tarihi</option>
                                @foreach (var item in ViewBag.categoryDate)
                                {
                                    <option value="">@item</option>
                                }
                               
                                
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="product__page__filter">                          
                            <select style="height:60px" size="8">
                                <option value="">Kategori seç</option>
                                @foreach (var item in ViewBag.category)
                                {
                                     
                                    <option value="">@item</option>
                                }                                                           
                            </select>
                        </div>
                    </div>
                    
                    <input type="submit" class="form-control btn btn-warning col-md-1" value="Filtrele">
                    </div>
            </form>



            <div class="col-lg-10">
                <div class="product__page__content">
                    <div class="product__page__title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                <div class="section-title">
                                    <h4>Keşfet</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {

                            <div class="col-lg-2 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@item.AnimeImg">

                                        <div class="ep fa fa-star">&nbsp;@item.IMDb</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                        <div class="view"><i class="fa fa-calendar"></i> @item.AnimeCikisTarihi.Year</div>
                                    </div>
                                    <div class="product__item__text align-content-md-center">
                                        <ul class="float-left ml-1">
                                            @await Component.InvokeAsync("_AnimelerKategori", new{animeID=item.AnimeID})

                                            <h5><a href="#">@item.AnimeAdi</a></h5>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        }


                    </div>

                </div>
            </div>

        </div>
        <div class="product__pagination  " style="margin: 10% 35%">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
            {
            LiElementClasses = new string[] { "page-item" },
            PageClasses=new string[] {"current-page"},
            UlElementClasses = new string[] { "pagination justify-content-center" },
            //PageClasses = new string[] { "page-link" },
            //Display = PagedListDisplayMode.IfNeeded
            })

            @*<a href="#" class="current-page">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#"><i class="fa fa-angle-double-right"></i></a>*@
        </div>

        @*  </div>*@
    </div>
</section>
<!-- Product Section End -->
